.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.not-visible {
  display: none;
}

.container {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

.navbar li {
  cursor: pointer;
}

.flex {
  display: flex;
  gap: 1rem;
}
